.class1 { font-family: Verdana;}
.class2 { font-family: Comic Sans MS}
.class3 { color: Yellow;}
.class4 { font-family: Times New Roman; color: red;}
.class5 { font-family: Wingdings; color: green;}