.gradient1 {background: #004FF9; 
background: -webkit-linear-gradient(to right, #FFF94C, #004FF9); 
background: linear-gradient(to right, #FFF94C, #004FF9); }

.polaroid1 { border: solid #fff; 
	border-width: 5px 5px 15px 5px; 
	box-shadow: 5px 5px 5px #333; -webkit-box-shadow: 5px 5px 100px #333; 
	-moz-box-shadow: 2px 2px 10px #333;}

.heading1 { font-family: 'Nosifer', cursive; }

a { font-size: 18px; padding: 0px 10px; color: #000; 
transition: color 0.5s ease; 
}
a:hover {
	color: #C1C1C1;
}

.p1 { font-family: 'Nosifer', cursive; }