.class1 { font-family: Didot;}
.class2 { font-family: Arial;}
.class3 { font-family: Didot; color: red;}
#box1 {width: 300px; padding: 10px; background: lightblue;}
#box2 {width: 300px; padding: 10px; background: lightgrey;}
