.gradient1 {background: #E55D87;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5FC3E4, #E55D87); } /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.heading1 {text-align: center; font-family: 'Nosifer', cursive;}

.p1 {text-align: center; font-family: 'Nosifer', cursive;}

a {text-decoration-line: none; font-size: 40px; padding: 0px 0px; color: #000; 
transition: color 0.5s ease; 
}
a:hover {
	color: #e5ff00;
}

ul {text-align: center; margin: 0% 30%; list-style-type: none; column-count: 2; text-align: center;}

li {margin-bottom: 5%}