footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $nav-background-color;
    font-family: $font;
    line-height: 1.5;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}

.footerCol {
    margin: 1rem 0 1rem;
    padding: 3vh;
    flex: 0.2;

    h4 {
        font-size: 1.25rem;
        color: white;
        margin-bottom: 1.8rem;
        font-weight: bold;
        position: relative;
    }

    h4:before {
        content: '';
        position: absolute;
        left: 0.2rem;
        bottom: -0.5rem;
        background-color: red;
        height: 0.2rem;
        width: 3.5rem;
        border-radius: 1rem;
    }

    ul {
        list-style: none;

        li:not(:last-child) {
            margin-bottom: 0.6rem;
        }

        li {
            a {
                font-size: 1.1rem;
                text-decoration: none;
                font-weight: bold;
                color: $navfootColor;
                position: relative;
                transition: all 0.3s ease;
                padding: 3.5% 0;
            }

            a:hover {
                color: $navfootHover;
                padding-left: 0.3rem;
            }

            #aGolden:hover {
                color: gold;
            }
        }
    }
}

#copyfight {
    text-align: center;
    font-size: 0.7rem;
    margin: 1vh;
    flex-basis: 100%;
    color: $navfootColor;
}

@media (max-width: 768px) {
    .footerCol {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .footerCol {
        width: 100%;
    }
}