nav {
    display: flex;
    /*     position: sticky;
    top: 0; */
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: $nav-background-color;
    font-family: $font;
}

.logo {
    color: $navfootColor;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
        color: $navfootHover;
        cursor: pointer;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    height: 100%;

    li {
        list-style: none;
/*         margin-right: 6.5vh; */
        width: 100%;

        &:hover {
            background-color: rgba(255,255,255,0.2);
        }

        &::after {
            display: block;
            content: '';
            margin-top: -3px;
            border-bottom: 3px solid red;
            transform: scaleX(0);
            transition: transform 0.2s ease-in-out;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    a {
        color: $navfootColor;
        text-decoration: none;
        letter-spacing: 3px;
        padding: 4vh;
        /* font-weight: bold; */
        font-size: 1.2rem;
        display: inline-block;
        height: 100%;
        padding-top: 1.25rem;
        transition: all 0.3s ease;

        &:hover {
            color: $navfootHover;
        }
    }
}

.burger {
    display: none;
    cursor: pointer;

    div {
        width: 25px;
        height: 3px;
        border-radius: 5px;
        background-color: white;
        margin: 5px;
        transition: 0.5s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: $nav-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;

    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleBurger .line2 {
    opacity: 0;
}

.toggleBurger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}