* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* $background-color: #25262b; */
/* $background-color: rgb(5, 5, 122); */
/* $background-color: #393a3d; */
$background-color: #1B212C;
$font: "Lato", sans-serif;

//Imports
@import "nav";
@import "footer";

body {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  /* background-color: $background-color; */
  background: radial-gradient(circle, #24246e, #06051f);
}

main {
  flex-grow: 1;
  color: white;
}

img {
  float: center;
  width: 500px;
  height: 500px;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  li {
    opacity: 0;
  }
}