* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* $background-color: #25262b; */
//Snygg grå färg

$nav-background-color: rgb(5, 5, 122);
$background-color: #1B212C;
$navs-background-color: radial-gradient(circle, #25262b, rgb(5, 5, 122));
$font: "Lato", sans-serif;

$navfootColor: #bbbbbb;
$navfootHover: white;

//Imports
@import "nav";
@import "footer";

/* html {
  font-size: 62.5%;   
} */

body {
  min-height: 150vh;
  /* background-color: $background-color; */
  background: radial-gradient(circle, #24246e, #06051f);
}

main {
  flex-grow: 1;
  /*   font-size: 1.5rem; */
  color: white;
  align-items: center;
  text-align: center;
  margin: 1rem 10rem 1rem 10rem;
}

img {
  float: center;
  width: 500px;
  height: 500px;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  li {
    opacity: 0;
  }
}