* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* $background-color: #25262b; #462345;*/
nav {
  display: flex;
  background-color: rgb(5, 5, 122);
  font-family: "Lato", sans-serif;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  z-index: 999;
}

.logo {
  color: #bbbbbb;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}
.logo:hover {
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.nav-links li {
  list-style: none;
  /*         margin-right: 6.5vh; */
  width: 100%;
  transition: all 0.2s;
}
.nav-links li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-links li::after {
  display: block;
  content: "";
  margin-top: -3px;
  border-bottom: 3px solid red;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.nav-links li:hover::after {
  transform: scaleX(1);
}
.nav-links a {
  color: #bbbbbb;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 3.5vh;
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block;
  height: 100%;
  padding-top: 1.25rem;
  transition: all 0.2s ease-in-out;
}
.nav-links a:hover {
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(5, 5, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggleBurger .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleBurger .line2 {
  opacity: 0;
}

.toggleBurger .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(5, 5, 122);
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.footerCol {
  margin: 1rem 0;
  padding: 3vh;
  flex: 0.2;
}
.footerCol h4 {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 1.8rem;
  font-weight: bold;
  position: relative;
}
.footerCol h4:before {
  content: "";
  position: absolute;
  left: 0.2rem;
  bottom: -0.5rem;
  background-color: red;
  height: 0.2rem;
  width: 3.5rem;
  border-radius: 1rem;
}
.footerCol ul {
  list-style: none;
}
.footerCol ul li:not(:last-child) {
  margin-bottom: 0.6rem;
}
.footerCol ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  color: #bbbbbb;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 3.5% 0;
}
.footerCol ul li a:hover {
  color: white;
  padding-left: 0.3rem;
}
.footerCol ul li #aGolden:hover {
  color: gold;
}

#copyfight {
  text-align: center;
  font-size: 0.7rem;
  margin: 1vh;
  flex-basis: 100%;
  color: #bbbbbb;
}

@media (max-width: 768px) {
  .footerCol {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .footerCol {
    width: 100%;
  }
}
/* html {
  font-size: 62.5%;   
} */
body {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  background: radial-gradient(circle, #24246e, #06051f);
}

main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  flex-grow: 1;
  color: white;
  text-align: center;
  margin: 2rem 8rem;
  min-width: 50rem;
  border-radius: 2%;
}
main h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
main p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.about {
  width: 40rem;
  margin: auto;
}
.about p {
  text-align: left;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
.about iframe {
  display: block;
  text-align: left;
}

.divPro {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.divPro .divProjects {
  padding: 3vh 3vh 0;
}
.divPro .divProjects ul {
  list-style: none;
}
.divPro .divProjects ul li {
  padding: 0 3vh;
}
.divPro .divProjects ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #bbbbbb;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 3.5% 0;
  transition: all 0.2s ease-in-out;
}
.divPro .divProjects ul li a:hover {
  padding-left: 0.3rem;
  color: white;
}

img {
  display: block;
  margin: 2rem auto 1rem;
  height: 20rem;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

iframe {
  margin: 0.5rem 0 1rem;
  border-radius: 2%;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.picturesIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  main {
    margin: 1rem 10rem 1rem 10rem;
  }
  li {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */