* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

//Imports
@import url("nav.css");
@import url("footer.css");


img {
  float: center;
  width: 500px;
  height: 500px;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  li {
    opacity: 0;
  }
}